body {
    background-image: url("images/background.png");
    background-size: 133vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fight {
    width: 100%;
    display: none
}

#masha-pokemon,
#mada-pokemon {
    margin-top: 350px;
}

ul.description {
    text-align: left;
    font-size: 20px;
    list-style-type: none;
    background-color: #f6efcec7;
    padding: 8px 20px;
    border-radius: 1em;
    box-shadow: 0px 0px 10px -3px #000;
    margin-top: 5px;
    font-family: 'IM Fell English SC', serif;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'IM Fell English SC', serif;
}

#left-corner,
#right-corner {
    margin-top: 350px;
    padding: 0;
}

#title {
    width: 50%;
    margin: 4px;
    text-align: center
}


/* 
#title-main {
    margin: 0;
} */

#main-ring {
    text-align: center;
}


/* #right-corner-poke {
    margin-left: 30px;
} */

#result {
    text-align: center;
    font-size: 30px;
    background-color: #f6efcec7;
    border-radius: 1em;
    box-shadow: 0px 0px 10px -3px #000;
    font-family: 'IM Fell English SC', serif;
}

.btn {
    border-radius: 1em;
    background-color: #73948e;
    font-family: 'IM Fell English SC', serif;
}

#box-ring {
    margin-top: 140px;
}

.ring-poke {
    width: 111px;
    height: 111px;
}